<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta name="author" content="Blair Kitchen">
</head>

<body>

<div class="site">
	<div class="title">
		<a href="/">Blair Kitchen</a>
		<a class="extra" href="/">home</a>
	</div>
	
	{{ content }}
	
	<div class="footer">
		<div class="contact">
			<p>
			Blair Kitchen <br/>
			blair@the-blair.com
			</p>
		</div>
		<div class="contact">
			<a href="http://github.com/dongola7">github.com/dongola7</a>
		</div>
	</div>
</div>

</body>
</html>
